<div id="slideshow">
  <ul class="slides-container">
    <li>
      <div class="slide"></div>
    </li>
  </ul>
</div>

<div class="footer_container {{ theme }}">
  <div id="thetime"></div>
  &nbsp;
  <div id="network-offline" style="display: none;">
    offline
  </div>
</div>
