Source: iivari-express
Maintainer: github.com/lamikae
Section: web
Priority: extra
Build-Depends: debhelper (>= 7), npm
Standards-Version: 3.8.4

Package: iivari-express
Architecture: all
Depends: ${misc:Depends}, nodejs, npm, nodm, unclutter, x11-xserver-utils
Description: Simple image randomizer for iivari-client
 .
