Source: iivari-express
Maintainer: lamikae <mikael.lammentausta+github+@gmail.com>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4

Package: iivari-express
Architecture: all
Depends: ${misc:Depends}, nodejs, npm
Description: Simple image randomizer for iivari-client
 .
