<div id="slide_title" class="title {{ theme }}"></div>
<div id="notifications" class="notifications {{ theme }}"></div>

<div id="slideshow">
  <ul class="slides">
    <li>
      <div class="slide"></div>
    </li>
  </ul>
</div>

<div class="footer {{ theme }}">
  <div id="state"></div>
  <div id="next-slide-delay"></div>
</div>

