<div id="slide_title" class="title-container {{ theme }}"></div>
<div id="notifications" class="notifications-container {{ theme }}"></div>

<div id="slideshow">
  <ul class="slides-container">
    <li>
      <div class="slide"></div>
    </li>
  </ul>
</div>

<div class="footer-container {{ theme }}">
  <div id="state"></div>
  <div id="next-slide-delay"></div>
</div>

