@import 'nib'

body
    background #aaeebb

#notifications
    background #000000
    border 0px solid white
    margin .2em
    padding 0.1em 0.5em
    position absolute
    font-size 5em
    z-index 99999
    color white
    opacity 0.7


.title-container
    background #000000
    border 0px solid white
    margin .2em
    padding 0.4em 0.5em
    position absolute
    font-family times
    font-size 1.7em
    z-index 99999
    color white
    opacity 0.7

.title_container
    display: none

#progress
    background black
    color white
    opacity 0.7
    position absolute
    bottom 1em
    right 0.6em
    padding 0.2em
    font-size 2em
    z-index 99999

#state
    background black
    color white
    opacity 0.7
    position absolute
    bottom 2em
    right 0.8em
    padding 0.2em
    z-index 99999

#state.paused
    color white
    font-weight 900
    font-size 3em
    font-family 'Arial'
    letter-spacing 0.1em
