@import 'nib'
@import 'nib/gradients'

*
    box-sizing border-box

body
    background: #aaa;
    background-size: auto 100%;
    background-repeat: repeat no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url("file:///usr/share/iivari/assets/Telefunken_FuBK_test_pattern.png");

html, body
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;

#slideshow
    overflow: hidden;
    width: 100%;
    height: 100%;

.fullimg
    text-align: center;
.fullimg img
    margin: 0 auto;
    max-width: none;
    -ms-interpolation-mode: bicubic;
    -webkit-backface-visibility: hidden;

#notifications
    background #000000
    border 0px solid white
    margin .2em
    padding 0.4em 0.8em
    position absolute
    font-size 1.7em
    z-index 99999
    color white
    opacity 0.7

#slide_title
    background #000000
    border 0px solid white
    margin .2em
    padding 0.4em 0.5em
    position absolute
    font-family times
    font-size 2em
    z-index 99999
    color white
    opacity 0.7

 #state
    background black
    color white
    opacity 0.7
    position absolute
    bottom 250px
    right 1.5em
    padding 0.2em 0.4em 0.4em 0.3em
    z-index 99999
    display none

#state.paused
    color white
    font-weight 900
    font-size 3em
    font-family 'Arial'
    letter-spacing 0.1em
    display block
    text-shadow: .1em .1em .3em white

#next-slide-delay
    color white
    opacity 0.7
    position absolute
    bottom 0
    overflow visible
    right 1em
    padding 2em .1em 0
    z-index 99999
    font-size 0.8em

#help
    position absolute
    left 1em
    border 1px solid blue
    background #0e2e4e
    color #eee2ee
    opacity 0.8
    font-family times
    font-size: 3em
    padding .2em
    z-index 999999
    text-align center
#help article
    font-family monospace
    font-size .8em
    background #20484a
    border 1px solid purple
    margin 1em
    padding 1em
    text-align left
    line-height 1.4em
#help sub
    font-size smaller


#notifications.gold, #slide_title.gold, #help.gold article
    color: #0a0704
    opacity: 0.8
    background: linear-gradient(
        top,
        #f1b500,
        20% #e9ad02,
        40% #e3a001,
        60% #d99300,
        80% #d38a00,
        100% #ca8500)
#help.gold
    background #0e2e4e
    color #eee2ee
    border 0


#notifications.cyan, #slide_title.cyan, #help.cyan article
    opacity: 0.8
    color: #eae7e4
    background: linear-gradient(
        top,
        #00bfb4,
        20% #00b1a7,
        40% #00a69c,
        60% #009f96,
        80% #00938a,
        100% #008a82)
#help.cyan
    background #0e2e4e
    color #eee2ee
    border 0
#help.cyan article
    color: #111


#notifications.green, #slide_title.green, #help.green
    color: #224272
    background: linear-gradient(
        right,
        #d4f835,
        20% #c9f600,
        40% #c3ed00,
        60% #b8e000,
        80% #afd400,
        100% #ebece5)
#help.green
    border 0
    opacity 0.8
#help.green article
    background transparent
    border 0
